@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  background: #fff;
  border-radius: 10px;
  color: #4d4d4d;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 40px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.btn {
  height: 20px;
  background: transparent;
  border: none;
  padding: 0;
  opacity: 0.8;
  transition: opacity 0.3s;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.4;
}

.icon {
  width: 20px;
  height: 20px;
}
