@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.container {
  width: 35%;
}

.title {
  color: #4d4d4d;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
