@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.container {
  width: 35%;
}

.title {
  color: #4d4d4d;
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 20px 0;
}

@media all and (max-width: 912px) {
  .container {
    width: 50%;
  }
}

@media all and (max-width: 540px) {
  .container {
    width: 80%;
  }
}
